body {
  margin: 0;
}

.nav {
  background-color: blue;
  height: 50px;
}

.map-info {
  background-color: bisque;
  height: 700
}

.data-info {
  background-color: coral;
  height: 400px;
}

#map{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}